node_modules
# Keep environment variables out of version control
.env

/generated/prisma
/.windsurf
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

/.claude
/.agents
